*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/
__pycache__/
.venv/
src/ipyaladin/static/

# Compiled javascript
ipyaladin/nbextension/
ipyaladin/labextension/

# Yarn package json
js/yarn.lock
js/.yarn
.yarn/

# OS X
.DS_Store

# Conda builds
conda-recipe/distrib
conda-recipe/ipyaladin

# Playwrigth tests
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Python tests
.pytest_cache/
.ruff_cache/

# Documentation
docs/_build/
docs/_collections/

# Examples
examples/*.png